.deco {
  min-height: 100vh;
}

nz-sider .ant-layout-sider {
  flex: 0 0 400px !important;
  max-width: 800px !important;
  min-width: 200px !important;
  width: 200px !important;
}


.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
  padding-bottom: 20px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
  margin-top: 45px;
}


.logout-item {
  display: flex;
  align-items: center;
}

.logout-item span {
  margin-right: 8px;
}




