<nz-layout class="deco">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"><img src="./assets/Qualitadd-1024x332.png" style="max-width: 100px; max-height: 200px;" alt="">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ng-container *ngIf="securityService.kcService.getKeycloakInstance().authenticated;">
        <li nz-submenu nzTitle="User" nzIcon="user">
          <ul>
            <li nz-menu-item>{{securityService.profile?.given_name}}</li>
            <li nz-menu-item class="logout-item" (click)="handleLogout()">
              <span nz-icon nzType="logout"></span>
              Déconnexion
            </li>
          </ul>
        </li>
      </ng-container>
      <li nz-submenu nzTitle="Services" nzIcon="shake">
        <ul>

<!--          <li nz-menu-item routerLink="/client/creatNewTicket">Créer un ticket</li>-->
          <li nz-menu-item routerLink="/client/createJiraTicket">Créer ticket jira</li>
          <li nz-menu-item routerLink="/client/listTicketsJira">Liste tickets Jira</li>
          <li nz-menu-item routerLink="/client/historyJira">Historique</li>
<!--          <li nz-menu-item routerLink="/client/listTickets">Liste des tickets</li>-->
          <li nz-menu-item routerLink="">Dashboard</li>

        </ul>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">

        <router-outlet *ngIf="securityService.hasRoleIn(['user', 'admin']);">

          <div *ngIf="securityService.profile">
            <h2>Nom d'utilisateur : {{ securityService.profile?.given_name }}</h2>
            <p>Email : {{ securityService.profile?.email }}</p>
          </div>

        </router-outlet>
      </div>

    </nz-content>
    <nz-footer>Qualitadd ©2023</nz-footer>
  </nz-layout>
</nz-layout>

