<div class="container">
  <nz-header>
    <div class="search-container">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a project" id="project" name="project"
                 [(ngModel)]="selectedProject" (ngModelChange)="onProjectChange()">
        <nz-option *ngFor="let project of userProjects" [nzValue]="project.name"
                   [nzLabel]="project.name"></nz-option>
      </nz-select>


<!--      <form>-->
<!--        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="search-input-group">-->
<!--          <input type="text" formControlName="keyword" nz-input placeholder="Entrez le mot clé"/>-->
<!--        </nz-input-group>-->
<!--        <ng-template #suffixIconButton>-->
<!--          <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>-->
<!--        </ng-template>-->
<!--      </form>-->

      <nz-tree-select
        style="width: 250px"
        nzShowSearch
        nzCheckable
        nzPlaceHolder="Filtrer par statut"
        class="tree-select-container"
      ></nz-tree-select>

      <button nz-button nzType="primary" routerLink="/client/creatNewTicket" class="move-right">Nouveau ticket</button>
    </div>
  </nz-header>


  <div class="table-container">
    <nz-table #headerTable [nzData]="issues" [nzScroll]="{ y: '700px' }">
      <thead>
      <tr>
        <th>IssueKey</th>
        <th>Résumé</th>
        <th>Description</th>
        <th>Type de ticket</th>
        <th>Responsable R&D</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let issue of issues">
        <td>{{ issue.issueKey}}</td>
        <td>{{ issue.summary}}</td>
        <td>{{ issue.description}}</td>
        <td>{{ issue.issueType}}</td>
        <td>{{ issue.managerRD}}</td>

        <td class="actions-column" nzRight>
          <a *ngIf="securityService.hasRoleIn(['admin', 'user'])">
    <span class="action-icon">
      <span nz-icon nzType="edit" (click)="editIssue(issue)" *ngIf="securityService.hasRoleIn(['admin', 'user'])" nzTheme="outline"></span>
    </span>
            <span class="action-label">Edit</span>
          </a>
          <a class="delete-link" (click)="onDeleteIssue(issue.issueKey)" *ngIf="securityService.hasRoleIn(['admin', 'user'])">
    <span class="action-icon">
      <span nz-icon nzType="delete" nzTheme="outline"></span>
    </span>
            <span class="action-label">Delete</span>
          </a>
        </td>

      </tr>
      </tbody>
    </nz-table>
    <nz-pagination [nzPageIndex]="pageNumber" [nzPageSize]="pageSize" [nzTotal]="totalItems"
                   (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>

  </div>
</div>

