<form nz-form (ngSubmit)="loadIssueChangelog()" [formGroup]="historyFormGroup" class="my-form"
      enctype="multipart/form-data">
  <div class="form-group">
    <nz-form-item>
      <nz-form-control>
        <label>Nom du Project :</label>
        <nz-select class="full-width" id="project" formControlName="projectKey" (ngModelChange)="onProjectChange()">
          <nz-option *ngFor="let project of userProjects" [nzValue]="project.key"
                     [nzLabel]="project.key"></nz-option>
          <!--        <nz-option nzLabel="PROJ" nzValue="PROJ"></nz-option>&ndash;&gt;-->
          <!--        <nz-option nzLabel="ASS" nzValue="PROJ"></nz-option>&ndash;&gt;-->
          <!--        <nz-option nzLabel="PROJ" nzValue="PROJ"></nz-option>&ndash;&gt;-->
        </nz-select>
        <span id="project-error" class="error-message"></span>
      </nz-form-control>
    </nz-form-item>
  </div>


  <div class="form-group">
    <nz-form-item>
      <nz-form-control>
        <label>Type de ticket :</label>
        <nz-select class="full-width" id="issuetype" formControlName="issueType" (ngModelChange)="onIssueTypeChange()">
          <nz-option *ngFor="let issueType of issueTypes" [nzValue]="issueType" [nzLabel]="issueType"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

<!--  <div class="form-group">-->
<!--    <nz-form-item>-->
<!--      <nz-form-control>-->
<!--        <label>Issue Key :</label>-->
<!--        <nz-select class="full-width" id="issueKey" formControlName="issueKey">-->
<!--          <nz-option *ngFor="let ticket of filteredTickets" [nzValue]="ticket.issueKey" [nzLabel]="ticket.issueKey"></nz-option>-->
<!--        </nz-select>-->
<!--      </nz-form-control>-->
<!--    </nz-form-item>-->
<!--  </div>-->

  <div class="form-group">
    <nz-form-item>
      <nz-form-control>
        <label>Issue Key :</label>
        <nz-select class="full-width" id="issueKey" formControlName="issueKey" (ngModelChange)="onIssueKeyChange()">
          <nz-option *ngFor="let ticket of filteredTickets" [nzValue]="ticket" [nzLabel]="ticket"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>


  <div class="table-container" *ngIf="selectedIssueKey">
    <nz-table #historyTable [nzData]="selectedIssueHistory" [nzScroll]="{ y: '700px' }">
      <thead>
      <tr>
        <th>Auteur</th>
        <th>Date</th>
        <th>Champ</th>
        <th>De</th>
        <th>À</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let historyItem of selectedIssueHistory">
        <td>{{ historyItem.author.displayName }}</td>
        <td>{{ historyItem.created | date: 'medium' }}</td>
        <td>{{ historyItem.items[0].field }}</td>
        <td>{{ historyItem.items[0].fromString }}</td>
        <td>{{ historyItem.items[0].toString }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>



  <!--  <div *ngIf="selectedIssueHistory.length > 0">-->
<!--    <h3>Historique du ticket</h3>-->
<!--    <table class="table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Auteur</th>-->
<!--        <th>Date</th>-->
<!--        <th>Champ</th>-->
<!--        <th>De</th>-->
<!--        <th>À</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let historyItem of selectedIssueHistory">-->
<!--        <td>{{ historyItem.author.displayName }}</td>-->
<!--        <td>{{ historyItem.created | date: 'medium' }}</td>-->
<!--        <td>{{ historyItem.items[0].field }}</td>-->
<!--        <td>{{ historyItem.items[0].fromString }}</td>-->
<!--        <td>{{ historyItem.items[0].toString }}</td>-->
<!--      </tr>-->
<!--      &lt;!&ndash; Ajoutez d'autres lignes pour afficher les autres éléments de l'historique &ndash;&gt;-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->



  <!--  <div *ngIf="selectedIssueHistory.length > 0">-->
<!--    <h3>Historique du ticket</h3>-->
<!--    <ul>-->
<!--      <li *ngFor="let historyItem of selectedIssueHistory">-->
<!--        {{ historyItem.author.displayName }} - {{ historyItem.created | date:'medium' }}-->
<!--        <ul>-->
<!--          <li *ngFor="let item of historyItem.items">-->
<!--            {{ item.field }} : {{ item.fromString }} => {{ item.toString }}-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->









</form>



