<nz-content>
  <div class="header">
    <h1>Créer un ticket</h1>
    <p>N'oubliez pas de remplir correctement tous les champs.</p>

  </div>
  <form nz-form (ngSubmit)="handleAddIssue()" [formGroup]="issueFormGroup" class="my-form"
        enctype="multipart/form-data">
    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>ProjetID:</label>
          <nz-select class="full-width" id="project" formControlName="selectedProject"
                     (ngModelChange)="onProjectChange()">
            <nz-option *ngFor="let project of projects" [nzValue]="project.project_name"
                       [nzLabel]="project.project_name"></nz-option>
          </nz-select>
          <span id="project-error" class="error-message"></span>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Titre :</label>
          <input type="text"  nz-input formControlName="title" id="titre" placeholder="Entrez le titre">
          <small *ngIf="issueFormGroup.controls['title'].errors && issueFormGroup.controls['title'].touched"
                 class="error-text">
            {{jiraService.getErrorMessage('Le titre', issueFormGroup.controls['title'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Description :</label>
          <textarea nz-input formControlName="description" id="description" placeholder="Entrez la description du ticket"></textarea>
          <small *ngIf="issueFormGroup.controls['description'].errors && issueFormGroup.controls['description'].touched"
                 class="error-text">
            {{jiraService.getErrorMessage('La description', issueFormGroup.controls['description'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>issuetype :</label>
          <nz-select class="full-width" id="issuetype" formControlName="issuetype">
            <nz-option nzLabel="Bug" nzValue="Bug"></nz-option>
            <nz-option nzLabel="Nouvelle fonctionnalité" nzValue="Nouvelle fonctionnalité"></nz-option>
            <nz-option nzLabel="Amélioration" nzValue="Amélioration"></nz-option>
            <nz-option nzLabel="Tâche" nzValue="Tâche"></nz-option>
            <nz-option nzLabel="Epic" nzValue="Epic"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Priorité :</label>
          <nz-select class="full-width" id="priority" formControlName="priority">
            <nz-option nzLabel="Très élevée" nzValue="Très élevée"></nz-option>
            <nz-option nzLabel="Élevée" nzValue="Élevée"></nz-option>
            <nz-option nzLabel="Moyenne" nzValue="Moyenne"></nz-option>
            <nz-option nzLabel="Faible" nzValue="Faible"></nz-option>
            <nz-option nzLabel="Très Faible" nzValue="Très Faible"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Date de création :</label>
          <input type="date" id="date_creation" formControlName="date_creation" placeholder="Indiquez la date">
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Url :</label>
          <textarea nz-input type="text" id="url" formControlName="url" placeholder="Entrez l'url"></textarea>
          <small *ngIf="issueFormGroup.controls['url'].errors && issueFormGroup.controls['url'].touched"
                 class="error-text">
            {{jiraService.getErrorMessage("L'url", issueFormGroup.controls['url'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <label>Statut :</label>
        <nz-select class="full-width" id="status" formControlName="status">
          <nz-option nzLabel="A Faire" nzValue="A Faire"></nz-option>
          <nz-option nzLabel="Ouvert" nzValue="Ouvert"></nz-option>
          <nz-option nzLabel="En cours" nzValue="En cours"></nz-option>
          <nz-option nzLabel="Résolu" nzValue="Résolu"></nz-option>
          <nz-option nzLabel="Fermé" nzValue="Fermé"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Environnement :</label>
          <nz-select class="full-width" id="env" formControlName="env">
            <nz-option nzLabel="Environnement DEV" nzValue="Environnement DEV"></nz-option>
            <nz-option nzLabel="Environnement PRE-PROD" nzValue="Environnement PRE-PROD"></nz-option>
            <nz-option nzLabel="Environnement PROD" nzValue="Environnement PROD"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Photo :</label>
          <input type="file" id="picture" name="picture" accept="image/*" multiple (change)="onFileSelected($event)">
        </nz-form-control>
      </nz-form-item>
    </div>

    <button [disabled]="this.issueFormGroup.invalid" nz-button nzType="primary" type="submit">Soumettre</button>
  </form>

</nz-content>


