[nz-form] {
  max-width: 600px;
}

button {
  margin-left: 8px;
}

.form-box {
  border-radius: 8px;
}

.full-width {
  width: 100%;
}


nz-select {
  width: 200px;
}

.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgba(13, 110, 253, .25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  align-items: center;
  position: relative;
}

.form-group i {
  position: absolute;
  top: 50%;
  transform: translateY(30%);
  right: -20px;
  cursor: pointer;
}

.form-group i:hover:after {
  content: attr(title);
  position: absolute;
  top: 150%;
  left: 0;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
textarea,
select,
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input[type="file"] {
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.error {
  color: red;
  margin-bottom: 10px;
}

label.required:after {
  content: " *";
  color: red;
}

header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.nav-links a:hover {
  color: #555;
}


.info-icon {
  color: #f7c508;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.info-message {
  display: none;
  font-size: 12px;
  margin-top: 5px;
}

.form-group .info-message {
  margin-left: 10px;
}

header {
  background-color: #3498db; /* couleur de fond */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links a:hover {
  border-bottom: 2px solid #333;
}

nz-date-picker {
  margin: 0 8px 12px 0;
}

.header {
  text-align: center; /* Aligner le titre au centre */
  margin-bottom: 20px; /* Ajouter un espacement en bas du titre */
}


.header h1 {
  font-size: 24px; /* Taille de police du titre */
  font-weight: bold; /* Gras pour le titre */
}

.header p {
  font-size: 14px; /* Taille de police pour la description */
  color: #888; /* Couleur de texte pour la description */
}

.error-text {
  color: red;
}




