
.form-item {
  margin-bottom: 20px;
}
.form-item input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 400px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-sizing: border-box;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
