nz-select {
  width: 200px;
  padding: 10px 10px 10px;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

nz-table tbody td {
  border-bottom: 1px solid #ccc;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

nz-input-group {
  flex: 0 0 200px;
}

.move-right {
  position: absolute;
  right: 290px;
}

.table-container {
  height: calc(100vh - 40px);
  overflow: auto;
}

.actions-column {
  padding-right: -40px; /* Supprime le padding à droite */
  width: 120px;
}

.status-badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.success-color {
  background-color: green;
}

.error-color {
  background-color: red;
}

.default-color {
  background-color: gray;
}

.processing-color {
  background-color: blue;
}

.warning-color {
  background-color: yellow;
}

.delete-link::before {
  content: "|";
  display: inline-block;
  margin: 0 4px;
  color: #000;
}

.action-icon {
  margin-right: 4px;
}

.action-label {
  white-space: nowrap;
}

.search-input-group {
  margin-top: 16px;
}

.tree-select-container {
  margin-left: 10px;
}






