body {
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
}

.box-heading {
  background-color: #85C1E9;
  color: #fff;
  padding: 30px 100px 25px;
  margin-bottom: 0;
  line-height: 2px;
  border: 2px solid #ccc;

}

.box-message {
  border: 1px solid #ccc;
  padding: 20px ;
  background-color: white;
  justify-content: center;
  display: flex;
}

nz-alert {
  margin-bottom: 16px;
}
