
<div class="container">
  <div class="box">
    <div class="box-heading">
      <h1>Confirmation de ticket</h1>
    </div>
    <div class="box-message">
      <nz-alert
        nzType="success"
        nzMessage="Succès"
        nzDescription="Votre ticket a été bien pris en compte."
        nzShowIcon
      ></nz-alert>
    </div>
  </div>
</div>
