<nz-content>
  <div class="header">
    <h1>Créer un ticket</h1>
    <p>N'oubliez pas de remplir correctement tous les champs.</p>
  </div>

  <form nz-form (ngSubmit)="createIssueJira()" [formGroup]="issueForm" class="my-form"
        enctype="multipart/form-data">

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Nom du Project :</label>
          <nz-select class="full-width" id="project" formControlName="projectKey" (ngModelChange)="onProjectChange()">
            <nz-option *ngFor="let project of userProjects" [nzValue]="project.key"
                       [nzLabel]="project.key"></nz-option>
          </nz-select>
          <span id="project-error" class="error-message"></span>
        </nz-form-control>
      </nz-form-item>
    </div>


        <div class="form-group" *ngIf="selectedIssueType === 'Deployment'  ||  selectedIssueType === 'Evolution'">
          <nz-form-item>
            <nz-form-control>
              <label>Priorité :</label>
              <nz-select class="full-width" id="priority" formControlName="priority">
                <nz-option nzLabel="Highest" nzValue="10030"></nz-option>
                <nz-option nzLabel="High" nzValue="10026"></nz-option>
                <nz-option nzLabel="Medium" nzValue="10027"></nz-option>
                <nz-option nzLabel="Low" nzValue="10029"></nz-option>
                <nz-option nzLabel="Lowest" nzValue="10028"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

    <div class="form-group" *ngIf="selectedIssueType === 'Deployment' || selectedIssueType === 'Evolution'">
      <nz-form-item>
        <nz-form-control>
          <label>Nature :</label>
          <nz-select class="full-width" id="nature" formControlName="nature">
            <nz-option nzLabel="Evolution prise en charge par Qualitadd" nzValue="10025"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group" *ngIf="selectedIssueType === 'Deployment' || selectedIssueType === 'Evolution'">
      <nz-form-item>
        <nz-form-control>
          <label>Prise en compte de l'évolution :</label>
          <nz-select class="full-width" id="recognitionEvolution" formControlName="recognitionEvolution">
            <nz-option nzLabel="Bon de commande indépendant" nzValue="10035"></nz-option>
            <nz-option nzLabel="Bon de commande dans un lot" nzValue="10036"></nz-option>
            <nz-option nzLabel="MeV" nzValue="10037"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>



    <div class="form-group" *ngIf="selectedIssueType === 'Deployment' || selectedIssueType === 'Evolution'">
      <nz-form-item>
        <nz-form-control>
          <label>Chiffrage pur (enJ/H) :</label>
          <textarea nz-input formControlName="estimatePure" id="estimatePure"
                    placeholder="Entrez la estimatePure du ticket"></textarea>
          <small *ngIf="issueForm.controls['estimatePure'].errors && issueForm.controls['estimatePure'].touched"
                 class="error-text">
            {{jiraService.getErrorMessage('La estimatePure', issueForm.controls['estimatePure'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group" *ngIf="selectedIssueType === 'Deployment' || selectedIssueType === 'Evolution'">
      <nz-form-item>
        <nz-form-control>
          <label>Chiffrage total (enJ/H) :</label>
          <textarea nz-input formControlName="estimateTotal" id="estimateTotal"
                    placeholder="Entrez la estimateTotal du ticket"></textarea>
          <small *ngIf="issueForm.controls['estimateTotal'].errors && issueForm.controls['estimateTotal'].touched"
                 class="error-text">
            {{jiraService.getErrorMessage('La estimateTotal', issueForm.controls['estimateTotal'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>



    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Type de ticket :</label>
          <nz-select class="full-width" id="issuetype" formControlName="issueType" (ngModelChange)="onIssueTypeChange()">
            <nz-option nzLabel="Bugs" nzValue="Bugs"></nz-option>
            <nz-option nzLabel="Déploiement" nzValue="Deployment"></nz-option>
            <nz-option nzLabel="Evolution" nzValue="Evolution"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Rapporteur :</label>
          <nz-select class="full-width" id="reporter" formControlName="reporter">
            <nz-option nzLabel="jordanbrio" nzValue="64214bba9d6383e32a3388de"></nz-option>
            <nz-option nzLabel="michaelchacha" nzValue="712020:22ec5b08-684e-4511-931d-6585fdddb583"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Responsable Produit / CSM :</label>
          <nz-select class="full-width" id="managerProduct" formControlName="managerProduct">
            <nz-option nzLabel="jordanbrio" nzValue="64214bba9d6383e32a3388de"></nz-option>
            <nz-option nzLabel="michaelchacha" nzValue="712020:22ec5b08-684e-4511-931d-6585fdddb583"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Responsable R&D :</label>
          <nz-select class="full-width" id="managerRD" formControlName="managerRD">
            <nz-option nzLabel="jordanbrio" nzValue="64214bba9d6383e32a3388de"></nz-option>
            <nz-option nzLabel="michaelchacha" nzValue="712020:22ec5b08-684e-4511-931d-6585fdddb583"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Collaborateur :</label>
          <nz-select class="full-width" id="collaborator" formControlName="collaborator">
            <nz-option nzLabel="jordanbrio" nzValue="64214bba9d6383e32a3388de"></nz-option>
            <nz-option nzLabel="michaelchacha" nzValue="712020:22ec5b08-684e-4511-931d-6585fdddb583"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Résumé :</label>
          <textarea nz-input formControlName="summary" id="summary"
                    placeholder="Entrez la summary du ticket"></textarea>
          <small *ngIf="issueForm.controls['summary'].errors && issueForm.controls['summary'].touched"
                 class="error-text">
            {{jiraService.getErrorMessage('La summary', issueForm.controls['summary'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Environment Url :</label>
          <textarea nz-input formControlName="environmentUrl" id="environmentUrl"
                    placeholder="Entrez la summary du ticket"></textarea>
          <small *ngIf="issueForm.controls['environmentUrl'].errors && issueForm.controls['environmentUrl'].touched"
                 class="error-text">
            {{jiraService.getErrorMessage('L environnement', issueForm.controls['environmentUrl'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Tickets liés :</label>
          <nz-select class="full-width" id="issueLinked" formControlName="issueLinked">
            <nz-option nzLabel="TICK-252" nzValue="TICK-252"></nz-option>
            <nz-option nzLabel="TICK-240" nzValue="TICK-240"></nz-option>
            <nz-option nzLabel="TICK-242" nzValue="TICK-242"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group" *ngIf="selectedIssueType === 'Bugs' || selectedIssueType === 'Deployment' || selectedIssueType === 'Evolution'">
      <nz-form-item>
        <nz-form-control>
          <label>Date de la demande :</label>
          <input type="date" id="date_creation" formControlName="dateOfRequest" placeholder="Indiquez la date">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Deadline Interne :</label>
          <input type="date" id="deadlineIntern" formControlName="deadlineIntern" placeholder="Indiquez la date">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Deadline Client :</label>
          <input type="date" id="deadlineCustomer" formControlName="deadlineCustomer" placeholder="Indiquez la date">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Date de réalisation :</label>
          <input type="date" id="dateOfRealization" formControlName="dateOfRealization" placeholder="Indiquez la date">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Date de livraison :</label>
          <input type="date" id="dateOfDelivery" formControlName="dateOfDelivery" placeholder="Indiquez la date">
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Commentaire :</label>
          <textarea nz-input formControlName="comments" id="comments"
                    placeholder="Entrez la comments du ticket"></textarea>
          <small *ngIf="issueForm.controls['comments'].errors && issueForm.controls['comments'].touched"
                 class="error-text">
            {{jiraService.getErrorMessage('La comments', issueForm.controls['comments'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Intérêts collatéraux :</label>
          <textarea nz-input formControlName="interestsCollateral" id="interestsCollateral"
                    placeholder="Entrez la interestsCollateral du ticket"></textarea>
          <small
            *ngIf="issueForm.controls['interestsCollateral'].errors && issueForm.controls['interestsCollateral'].touched"
            class="error-text">
            {{jiraService.getErrorMessage('La interestsCollateral', issueForm.controls['interestsCollateral'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group" *ngIf="selectedIssueType === 'Bugs'">
      <nz-form-item>
        <nz-form-control>
          <label>Niveau :</label>
          <nz-select class="full-width" id="level" formControlName="level">
            <nz-option nzLabel="Mineur" nzValue="10032"></nz-option>
            <nz-option nzLabel="Majeur" nzValue="10033"></nz-option>
            <nz-option nzLabel="Bloquant" nzValue="10034"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group" *ngIf="selectedIssueType === 'Bugs' || selectedIssueType === 'Evolution'">
      <nz-form-item>
        <nz-form-control>
          <label>Format de la demande :</label>
          <nz-select class="full-width" id="requestFormat" formControlName="requestFormat">
            <nz-option nzLabel="Mail" nzValue="10024"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group" *ngIf="selectedIssueType === 'Bugs' || selectedIssueType === 'Deployment'">
      <nz-form-item>
        <nz-form-control>
          <label>Détecté par :</label>
          <nz-select class="full-width" id="detectedBy" formControlName="detectedBy">
            <nz-option nzLabel="jordanbrio" nzValue="64214bba9d6383e32a3388de"></nz-option>
            <nz-option nzLabel="michaelchacha" nzValue="712020:22ec5b08-684e-4511-931d-6585fdddb583"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Commentaire si recette KO :</label>
          <textarea nz-input formControlName="commentRecipeKO" id="commentRecipeKO"
                    placeholder="Entrez la commentRecipeKO du ticket"></textarea>
          <small *ngIf="issueForm.controls['commentRecipeKO'].errors && issueForm.controls['commentRecipeKO'].touched"
                 class="error-text">
            {{jiraService.getErrorMessage('Le commentaire de la recette', issueForm.controls['commentRecipeKO'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Description :</label>
          <textarea nz-input formControlName="description" id="description"
                    placeholder="Entrez la description du ticket"></textarea>
          <small *ngIf="issueForm.controls['description'].errors && issueForm.controls['description'].touched"
                 class="error-text">
            {{jiraService.getErrorMessage('La description', issueForm.controls['description'].errors)}}
          </small>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item>
        <nz-form-control>
          <label>Photo :</label>
          <input formControlName="pictures" type="file" id="picture" name="picture" accept="image/*" multiple (change)="onFileSelected($event)">
        </nz-form-control>
      </nz-form-item>
    </div>


    <button [disabled]="this.issueForm.invalid" nz-button nzType="primary" type="submit">Soumettre</button>
  </form>

</nz-content>


